/ARX-3.9.0-linux-x64-installer.run
/ARX-3.9.0-osx-installer.app.zip
/ARX-3.9.0-windows-x64-installer.exe
/ARX-3.9.1-linux-x64-installer.run
/ARX-3.9.1-osx-installer.app.zip
/ARX-3.9.1-windows-installer.exe
/arx-3.9.1-doc.jar
/arx-3.9.1-gtk-64.jar
/arx-3.9.1-osx-64.jar
/arx-3.9.1-src.jar
/arx-3.9.1-win-64.jar
/libarx-3.9.1-dev-doc.jar
/libarx-3.9.1-doc.jar
/libarx-3.9.1-min.jar
/libarx-3.9.1-src.jar
/libarx-3.9.1.jar
/hashes.txt
/hashes.txt.asc
/ARX-3.9.1-windows-x64-installer.exe
/version.txt
/ARX-3.9.2-linux-x64-installer.run
/ARX-3.9.2-osx-installer.app.zip
/ARX-3.9.2-windows-x64-installer.exe
