/ARX-3.9.0-linux-x64-installer.run
/ARX-3.9.0-osx-installer.app.zip
/ARX-3.9.0-windows-x64-installer.exe
/ARX-3.9.1-linux-x64-installer.run
/ARX-3.9.1-osx-installer.app.zip
/ARX-3.9.1-windows-installer.exe
